<!DOCTYPE html>
<html>
	<head>
		<title>poc react router</title>
	</head>
	<body>
		<div id="app" class="app">
			<div><%-body%></div>
		</div>
		<script src="/bundle.min.js" async="async"></script>
	</body>
</html>