<!DOCTYPE html>
<html>
	<head>
		<title>poc react router</title>
	</head>
	<body>
		<div id="app" class="app">
			<div><%-body%></div>
		</div>

		<script type="text/javascript" async="async" src="/bundle.min.js"></script>
	</body>
</html>